
@model SPL.WebApp.ViewModels.ProfileSecurity.UserProfilesViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="progress" style="height:5px">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br />
<div class="row">
  <h4>Perfiles</h4>
    <div class="col-md-12">
        <div class="btn-group" role="group">

            <button id="btnSave" type="button" style="margin-right:8px; font-weight:600; " class="btn btn-primary btn-sm">Guardar</button>
            <button id="btnClear" type="button" style="margin-right:8px; font-weight:600; " class="btn btn-secondary btn-sm"><i class="bi-eraser" style="font-size: 1.3rem;"></i></button>
        </div>
    </div>

</div>

<br />
 <form id="form_profiles" enctype="multipart/form-data" kendo-validator="true">
   <div class="row">
                                        <div class="col-md-12">
                                          <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="row">
                                                       <label class="col-form-label" asp-for="Clave"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="row">
                                                        <div class="">
                                                           <input asp-for="Clave" class="form-control form-control-sm">

                                                                <span asp-validation-for="Clave" id="ClaveCustomValidator" class="text-danger k-form-error"></span>
                                                        </div>
                                                    </div>
                                                </div>


                                         </div>
                                       </div>

                                         <div class="col-md-12">
                                          <div class="row">
                                                <div class="col-sm-1">
                                                    <div class="row">
                                                    
                                                        <label class="col-form-label" asp-for="Descripcion"></label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="">
                                                               <input asp-for="Descripcion" class="form-control form-control-sm">

                                                                <span asp-validation-for="Descripcion" id="DesCustomValidator" class="text-danger k-form-error"></span>
                                                         
                                                        </div>
                                                    </div>
                                                </div>


                                         </div>
                                       </div>
 
    </div>
  </form>



    
<div class="container mt-3">

  <p></p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Perfil</th>
        <th>Descripción</th>
         <th></th>
      </tr>
    </thead>
    <tbody>

        @foreach (var item in @Model.UserProfilesDTO)
            {
          <tr onclick="clickProfile('@item.Clave','@item.Descripcion')">
            <td>@item.Clave</td>
            <td>@item.Descripcion</td>
          <td><button onclick="DeleteProfile('@item.Clave')" type="button" class="deleteRow">
              <i class="bi bi-trash"></i>
           </button></td>
          </tr>
            }
   
     
    </tbody>
  </table>
</div>




<div id="mi-modal" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Advertencia</h5>
            </div>
            <div class="modal-body">
                <p>¿Está seguro de eliminar el perfil?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-btn-si" class="btn btn-secondary" data-bs-dismiss="modal">Sí</button>
                <button type="button" id="modal-btn-no" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="alert" role="alert" id="result"></div>

  <script>

  var modalConfirm = function(callback){
          var profileDelete = "";
 

  $("#modal-btn-si").on("click", function(){
    callback(true);
    $("#mi-modal").modal('hide');
  });
  
  $("#modal-btn-no").on("click", function(){
    callback(false); 
    $("#mi-modal").modal('hide');
  });
};

modalConfirm(function(confirm){
  if(confirm){
    //Acciones si el usuario confirma
    //$("#result").html("CONFIRMADO");
      DeleteProfileEjecute(profileDelete);
  }else{
    //Acciones si el usuario no confirma
    //$("#result").html("NO CONFIRMADO");
  }
});


      function DeleteProfile(profile) {
           $("#mi-modal").modal('show');
          profileDelete = profile;
         }
           function clickProfile(profile,descripcion) {
               $("#ClaveCustomValidator").text("");
               $("#DesCustomValidator").text("");
            $( "#Clave" ).prop( "disabled", true );
            $("#Clave").val(profile);
            $("#Descripcion").val(descripcion);
         }



       function DeleteProfileEjecute(profile) {

          var modelFormData = new FormData();
          modelFormData.append("Clave", profile);
          modelFormData.append("Descripcion", "");
         $.ajax({
              url: "/ProfileSecurity/DeleteProfilesUser/",
              method: "POST",
              contentType: false,
              processData: false,
              data: modelFormData,
              success: function(result) {

                  if (result.response.Code === 1) {
                       ShowSuccessMessage("Eliminado Exitosamente.")
                      $("#loader").css("display", "none");
                        $("#TabProfiles").trigger('click')
                         $("#btnClear").trigger('click')
                  }
                  else {
                       ShowFailedMessage(result.response.Description);
                      $("#loader").css("display", "none");
             
                  

                  }

              }

          });
         }


         
      $("#btnSave").click(function() {
          $("#loader").css("display", "block");
          var validate_form = $("#form_profiles").data("kendoValidator").validate();
          if (!validate_form) {
                        $("#loader").css("display", "none");
              return
          }



          var modelFormData = new FormData();
          modelFormData.append("Clave", $("#Clave").val());
          modelFormData.append("Descripcion", $("#Descripcion").val());



          $.ajax({
              url: "/ProfileSecurity/SaveProfilesUser/",
              method: "POST",
              contentType: false,
              processData: false,
              data: modelFormData,
              success: function(result) {

                  if (result.response.Code === 1) {
             
                        ShowSuccessMessage("Guardado Exitoso.")
                      $("#loader").css("display", "none");
                      $("#btnClear").trigger('click')
                      $("#TabProfiles").trigger('click')

                  }
                  else {
                             $("#loader").css("display", "none");
                                ShowFailedMessage(result.Description);
                  }

              }

          });
      });


           
     
    $("#btnClear").click(function() {
        $("#ClaveCustomValidator").text("");
         $("#DesCustomValidator").text("");
        $( "#Clave" ).prop( "disabled", false );
        $("#Clave").val("");
        $("#Descripcion").val("");
    });



    </script>

