
@using Telerik.Web.Spreadsheet;

@model SPL.WebApp.ViewModels.BpcViewModel

@{
    ViewData["Title"] = "Excel"; 
    Layout = "_LayoutExcel";
}


<button id="btnSave"  type="button" style="margin-right:8px; font-weight:600; display:none " class="btn btn-primary btn-sm" disabled>Guardar</button>
<button id="btnValidate" style="margin-right:8px; font-weight:600; display:none " type="button" class="btn btn-primary btn-sm" disabled>Validar/Calcular</button>
<button id="btnRefresh" style="margin-right:8px; font-weight:600; display:none " type="button" class="btn btn-primary btn-sm" disabled>Reiniciar</button>
<div id="loader" class="col-md-2" style="padding-bottom:8px;display:none;padding-top: 12px;">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Espere...</span>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <kendo-splitter name="horizontal" orientation="SplitterOrientation.Horizontal" style="height:1200px">
        <pane size="60%" id="botton-pane" scrollable="false" collapsible="true"  >
            <div id="spreadsheet" style="width: 100%; height:100%"></div>
        </pane>
        </kendo-splitter>
        
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="toast-div" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div id="notification-type" class="toast-body-alert">
                    <div id="notification-message"></div>
                    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
    #treeview-kendo .k-sprite {
        background-image: url("@Url.Content("~/images/coloricons-sprite.png")");
    }
    .rootfolder { background-position: 0 0; }
    .folder { background-position: 0 -16px; }
    .pdf { background-position: 0 -32px; }
    .html { background-position: 0 -48px; }
    .image { background-position: 0 -64px; }
</style>

<script src="@Url.Content("~/js/Helpers/Helpers.js")"></script>
<script src="@Url.Content("~/js/site.js")"></script>
<script src="@Url.Content("~/js/Bpc/Excel.js")"></script>

<script>
// Variables
let viewMode = @Html.Raw(Json.Serialize(Model));


// Evento


$(document).ready(function () {

    if(viewMode.Error == "" ){
        TodoBien(viewMode);
        
    }else{
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: viewMode.Error,
          allowOutsideClick: false,
          allowEscapeKey: false
        }).then((result) => {
          window.close();
        })
    }
});

</script>