
@using Telerik.Web.Spreadsheet;

@model SPL.WebApp.ViewModels.ReportePruebasViewModel



@{ ViewData["Title"] = "Index"; }
<br />
<div class="progress" style="height:5px">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br />

<div class="row">
    <div class="form-group">
        @(Html.ValidationSummary(true, "", new { @class = "alert alert-danger" }))

    </div>
</div>


<div class="row">
    <div class="col-md-12">

        <kendo-splitter name="horizontal" orientation="SplitterOrientation.Horizontal" style="height:1200px">
            <pane size="75%" scrollable="true" collapsible="true" resizable="true" id="bottom-pane" style="width:100%">
                <kendo-splitter name="sub-horizontal" style="height: 100%; width: 100%;" orientation="SplitterOrientation.Vertical">

                    <pane id="top-pane" size="100%" scrollable="false" collapsible="true">
                        @*MENU SUPERIOR*@
                        <form id="form_menu_sup" kendo-validator="true">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 input-group-sm">
                                        <div class="btn-group" role="group" style="padding-top:4px">
                                            <button id="btnRequest" disabled type="button" style="margin-right:8px; font-weight:600;" class="btn btn-primary btn-sm">Consultar</button>
                                            <button id="btnClear" type="button" style="margin-right:8px; font-weight:600; " class="btn btn-secondary btn-sm"><i class="bi-eraser" style="font-size: 1.3rem;"></i></button>
                                            <button id="btnInfo" type="button" style="margin-right:8px; font-weight:600; " class="btn btn-secondary btn-sm"><i class="bi-info" style="font-size: 1.3rem;"></i></button>
                                            <div id="loader" class="col-md-2" style="padding-bottom:8px;display:none;padding-top: 12px;">
                                                <div class="spinner-border" role="status">
                                                    <span class="visually-hidden">Espere...</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <br />
                                    <div class="col-md-6" style="padding-top:11px">
                                        <div class="input-group-sm form-floating mb-3">
                                            <input asp-for="NoSerie" class="form-control form-control-sm" placeholder="NoSerie">
                                            <label asp-for="NoSerie"></label>
                                            <span id="NoSerieSpand" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="row d-flex justify-content-center">
                                    <div class="col-md-12 ">
                                        <fieldset class="k-form-fieldset ">
                                            <label id="" style="font-size:18px">Filtro para generar la plantilla</label>
                                            <div class="row ">
                                                <div class="col mb-3">
                                                    <label class="form-label" asp-for="Reporte"></label>
                                                    @Html.DropDownListFor(c => c.Reporte, (IEnumerable<SelectListItem>)ViewBag.ReportItems, new { @class = "form-select form-select-sm" })
                                                    <span asp-validation-for="Reporte" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                            <div id="general-tree">

                                <div id="treeview">

                                </div>
                            </div>

                        </form>
                    </pane>
                </kendo-splitter>
            </pane>
        </kendo-splitter>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
            <div id="toast-div" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div id="notification-type" class="toast-body-alert">
                    <div id="notification-message"></div>
                    <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<style>
div#treeview {
    margin-left: 3vw;
}
.k-tree
  .layout-row{
     display: inline-block;
     clear: both;
 }
 
 .row-data{
     width:62vw;

 }

 div.col-md-1, div.col-md-3, div.col-md-10 ,  div.col-md-2 {
    display: inline-block;
        text-align: center;
}

    #treeview-kendo .k-sprite {
        background-image: url("@Url.Content("~/images/coloricons-sprite.png")");
    }
    .rootfolder { background-position: 0 0; }
    .folder { background-position: 0 -16px; }
    .pdf { background-position: 0 -32px; }
    .html { background-position: 0 -48px; }
    .image { background-position: 0 -64px; }

    .container-radio {
        position: relative;
        bottom: 10px;
    }

    .col-md-11 {
        display: inline-block;
    }
    .container{
            margin-left: 0px;
    }

    td {
  text-align: center;
}

#test{
    display:inline
}
</style>

<script src="@Url.Content("~/js/Helpers/Helpers.js")"></script>
<script src="@Url.Content("~/js/site.js")"></script>
<script src="@Url.Content("~/js/ReportePruebas/ReportePruebas.js")"></script>


<script id="treeview-template" type="text/kendo-ui-template">
         <div class="row-data">
        #if (item.isParent)
        {
        } #

               #if (!item.isParent)
               {
                  # <div class="col-md-3" id="test t4">#: item.PRUEBA #</div> #
                  # <div class="col-md-3" id="test t4">#: item.IDIOMA #</div> #
                  # <div class="col-md-3" id="test t4">#: item.RESULTADO #</div> #
                  # <div class="col-md-3" id="test t5">#: item.COMENTARIOS #</div> #
                  # <div class="col-md-3" id="test t5">#: item.FECHA #</div> #

               } #

                    #if (!item.isParent && !item.isHeader)
                    {
                       # <div  class="col-md-1" id=""><a onclick="selectedItem(this)" class="subitems" id="#: item.ID_REP #_#: item.TIPO_REPORTE #" >Ver Reporte <a/></div> #
                    } #
    </div>
</script>

<script>
    $(document).ready(function () {
        //SET TITLE
        document.getElementById("titleForm").innerHTML = "Consulta de Pruebas";


        $("#home_menu").removeAttr("style");
        $("#registro_diseno_menu").removeAttr("style");

        $("#registrar_tension_placa").removeAttr("style");
        $("#cargar_plantilla_base").removeAttr("style");
        $("#resistencia_aislamiento_devanados").removeAttr("style");
        $("#relacion_de_transformacion").removeAttr("style");
        $("#factor_potencia_capacitancia").css({ "background": colorMenuSelect });
        $("#boquillas_type_brand").removeAttr("style");

    
    })


</script>
