@model SPL.WebApp.ViewModels.LimitCgdViewModel

@{ ViewData["Title"] = "Límite Máximo de % Contenido de Gas (CGD)"; }


<br />
<div class="progress" style="height:5px">
    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<br />
<div class="row">
    <div class="col-md-12">
        <div class="btn-group" role="group">
            <button id="btnNew" onclick="newElement()" type="button" style="margin-right:8px; font-weight:600; " class="btn btn-primary btn-sm">Nuevo</button>
            <button id="btnSave" onclick="editOrSaveRegister()" type="button" disabled style="margin-right:8px; font-weight:600; " class="btn btn-primary btn-sm">Guardar</button>
            <button id="btnDelete" onclick="deleteRegister()" type="button" disabled style="margin-right:8px; font-weight:600; " class="btn btn-primary btn-sm">Eliminar</button>
            <button id="btnClear" onclick="clearFields()" type="button" style="margin-right:8px; font-weight:600; " class="btn btn-secondary btn-sm"><i class="bi-eraser" style="font-size: 1.3rem;"></i></button>
        </div>
    </div>
    <div id="loader" class="col-md-2" style="padding-bottom:8px;display:none;padding-top: 12px;">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Espere...</span>
        </div>
    </div>
    </div>

<br />


<div class="row">
    <div class="col-md-12">
        <form enctype="multipart/form-data" kendo-validator="true" id="form_contgascgd">
            <div class="container-fluid" style="background-color:white !important;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="col mb-3">
                            <label class="form-label" asp-for="TipoReporte"></label>
                            @Html.DropDownListFor(c => c.TipoReporte, (IEnumerable<SelectListItem>)ViewBag.Reports, new { @onchange = "laodTests(0,null)",  @class = "form-select form-select-sm" })
                            <span asp-validation-for="TipoReporte" class="text-danger"></span>

                        </div>

                        <div class="col mb-3">

                            <label class="form-label" asp-for="ClavePrueba"></label>
                             @Html.DropDownListFor(c => c.ClavePrueba, (IEnumerable<SelectListItem>) ViewBag.Tests, new {@onchange = "getDescription(2)",  @class = "form-select form-select-sm" })
                              <span asp-validation-for="ClavePrueba" class="text-danger"></span>
                          
                        </div>

                        <div class="col mb-3">
                            <label class="form-label" asp-for="TipoAceite"></label>
                            @Html.DropDownListFor(c => c.TipoAceite, (IEnumerable<SelectListItem>)ViewBag.OildType, new {  @class = "form-select form-select-sm" })
                            <span asp-validation-for="TipoAceite" class="text-danger"></span>
                        </div>

                            <div class="col mb-3">
                            <label asp-for="LimiteMax"></label>
                            <input min="0" type="number" asp-for="LimiteMax" class="form-control form-control-sm">
                            <span asp-validation-for="LimiteMax" class="text-danger"></span>
                        </div>
                        

                          <input id="desTipoReporte" style="display:none" class="form-control form-control-sm">
                        <input id="desPrueba" style="display:none" class="form-control form-control-sm">
                        <input id="id" style="display:none" class="form-control form-control-sm">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="toast-div" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div id="notification-type" class="toast-body-alert">
                <div id="notification-message"></div>
                <button type="button" class="btn-close ms-2 mb-1" data-bs-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>



<div id="confirmDeleteFactor" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Advertencia</h5>
            </div>
            <div class="modal-body">
                <p>¿Realmente desea eliminar el Límite Máximo de % Contenido de Gas?</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteYes" class="btn btn-secondary" data-bs-dismiss="modal">Sí</button>
                <button type="button" id="btnDeleteNo" class="btn btn-primary" data-bs-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div id="grid"></div>




@section Scripts
    {


        
   


    <script src="@Url.Content("~/js/Helpers/Helpers.js")"></script>
    <script src="@Url.Content("~/js/site.js")"></script>
    <script src="@Url.Content("~/js/LimitCgd/LimitCgd.js")"></script>
    <script>


        

        let modalConfirmDelete = new bootstrap.Modal($("#confirmDeleteFactor"));
        let itemToDelete;
        let isSave = false;
        let b;
        var op = 0;
        let sendPost = false;
        var dataMap = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.LimitGas))');
        var dataMapTests = JSON.parse('@Html.Raw(Json.Serialize(ViewBag.Tests.Items))');





        
        function getDescription(key) {
            if (key == 1) {
                $("#desTipoReporte").val($("#TipoReporte option:selected").text())
            } else {
                $("#desPrueba").val($("#ClavePrueba option:selected").text())

            }
        }



        let dataS = dataMap.map((item) => {
            return {
                Id: item.Id,
                TipoReporte: item.TipoReporte,
                ClavePrueba:item.ClavePrueba,
                TipoAceite: item.TipoAceite,
                LimiteMax: item.LimiteMax,
                DesPrueba : item.DesPrueba,
                DesTipoReporte: item.DesTipoReporte,
                Fechacreacion : item.Fechacreacion,
                Fechamodificacion : item.Fechamodificacion,
                Modificadopor : item.Modificadopor,
                Creadopor : item.Creadopor,
            }
        })

       $("#ClavePrueba").empty();
        $('#ClavePrueba').append('<option value="' +"" + '">' +'Seleccione...' + '</option>');


              
            function laodTests(ptypeReport, clavePrueba) {
                var TypeReport = "";
                if (ptypeReport != null && ptypeReport != undefined && ptypeReport != "" && ptypeReport != "0") {
                    TypeReport = ptypeReport;
                }
                else{
                    TypeReport = $("#TipoReporte").val();
                }

               $("#loader").css("display", "block");

                  $("#ClavePrueba").empty();
                  $('#ClavePrueba').append('<option value="' +"" + '">' +'Seleccione...' + '</option>');
                 for(var j=0; j< dataMapTests.length; j++){
                     if (dataMapTests[j].Description == TypeReport) {
                      $('#ClavePrueba').append('<option value="' + dataMapTests[j].Clave + '">' + dataMapTests[j].Descripcion + '</option>');
                     }      
                   }

                    if (clavePrueba != null ) {

                      $('#ClavePrueba').val(clavePrueba);
                     }  

                       $("#loader").css("display", "none");

                 getDescription(1);

             }


        $(document).ready(function () {
            
     $("#TipoReporte").prop("disabled", true);
    $("#ClavePrueba").prop("disabled", true);
    $("#TipoAceite").prop("disabled", true);
    $("#LimiteMax").prop("disabled", true);


      //{ field: "TipoReporte", hidden: true}

            $("#grid").kendoGrid({
                dataSource: dataS,
                pageable: {
                    input: false,
                    numeric: true,
                    butonCount: 5,
                    pageSize: 10,
                    alwaysVisible: true,
                    previousNext: true
                },
                columns: [
                    { field: "Id", hidden: true },
                    { field: "TipoReporte", hidden: true },
                    { field: "DesTipoReporte", title: "Reporte" },
                    { field: "ClavePrueba", hidden: true },
                    { field: "DesPrueba", title: "Prueba" },
                    { field: "TipoAceite", title: "Tipo Aceite" },
                    { field: "LimiteMax", title: "Límite Máximo" },
                    { hidden: true, field: "Creadopor" },
                    { hidden: true, field: "Fechacreacion" },
                    { hidden: true, field: "Modificadopor" },
                    { hidden: true, field: "Fechamodificacion" }
                ],
                selectable: "row",
                dataBound: function (e) {
                    var grid = this;
                    grid.tbody.find("tr").dblclick(function (e) {
                   
                        var dataItem = grid.dataItem(this);
                        itemToDelete = grid.dataItem(this);
                       
                        laodTests(dataItem.TipoReporte,dataItem.ClavePrueba);




                        $("#id").val(dataItem.Id);
                        $("#desTipoReporte").val(dataItem.DesTipoReporte);
                        $("#desPrueba").val(dataItem.DesPrueba);
                        $("#TipoReporte").val(dataItem.TipoReporte);
                        $("#TipoAceite").val(dataItem.TipoAceite);
                        $("#LimiteMax").val(dataItem.LimiteMax);

                        console.log(dataItem)
                        $("#TipoReporte").prop("disabled", true);
                        $("#ClavePrueba").prop("disabled", true);
                        $("#TipoAceite").prop("disabled", true);
                        $("#LimiteMax").prop("disabled", false);
                        $("#btnSave").prop("disabled", false);
                        $("#btnDelete").prop("disabled", false);
                        $("#btnClear").prop("disabled", false);
                        $("#btnNew").prop("disabled", true);
                        //$("#ClavePrueba").val(dataItem.ClavePrueba);
                        isSave = false;
                    });
                }

            });

            document.getElementById("titleForm").innerHTML = "Límite Máximo de % Contenido de Gas (CGD)";
  

        
      


        })



    </script>
}